/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &hillside52_layout;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <5>;
// | SW1  | SW2  | SW3  | SW4  | SW5  | SW6  |                                   | SW6  | SW5  | SW4  | SW3  | SW2  | SW1  |
// | SW7  | SW8  | SW9  | SW10 | SW11 | SW12 |                                   | SW12 | SW11 | SW10 | SW9  | SW8  | SW7  |
// | SW13 | SW14 | SW15 | SW16 | SW17 | SW18 / SW19 /                     \ SW19 \ SW18 | SW17 | SW16 | SW15 | SW14 | SW13 |
// | SW20 | SW21 | SW22    | SW23 / SW24 / SW25 / SW26 /               \ SW26 \ SW25 \ SW24 \ SW23 |    SW22 | SW21 | SW20 |
        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)                                   RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)                                   RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5) RC(4,5)                   RC(4,6) RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11)
RC(3,0) RC(3,1) RC(3,2)         RC(4,1) RC(4,2) RC(4,3) RC(4,4)   RC(4,7) RC(4,8) RC(4,9) RC(4,10)        RC(3,9) RC(3,10) RC(3,11)
        >;
    };


    hillside52_layout: hillside52_layout {
        compatible = "zmk,physical-layout";
        display-name = "Hillside 52";
        transform = <&default_transform>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100   10   66       0     0     0>
            , <&key_physical_attrs 100 100  118   46       0     0     0>
            , <&key_physical_attrs 100 100  226   28       0     0     0>
            , <&key_physical_attrs 100 100  334   10       0     0     0>
            , <&key_physical_attrs 100 100  442   24       0     0     0>
            , <&key_physical_attrs 100 100  550   46       0     0     0>
            , <&key_physical_attrs 100 100 1010   46       0     0     0>
            , <&key_physical_attrs 100 100 1118   24       0     0     0>
            , <&key_physical_attrs 100 100 1226   10       0     0     0>
            , <&key_physical_attrs 100 100 1334   28       0     0     0>
            , <&key_physical_attrs 100 100 1442   46       0     0     0>
            , <&key_physical_attrs 100 100 1550   66       0     0     0>

            , <&key_physical_attrs 100 100   10  194       0     0     0>
            , <&key_physical_attrs 100 100  118  174       0     0     0>
            , <&key_physical_attrs 100 100  226  156       0     0     0>
            , <&key_physical_attrs 100 100  334  138       0     0     0>
            , <&key_physical_attrs 100 100  442  152       0     0     0>
            , <&key_physical_attrs 100 100  550  174       0     0     0>
            , <&key_physical_attrs 100 100 1010  174       0     0     0>
            , <&key_physical_attrs 100 100 1118  152       0     0     0>
            , <&key_physical_attrs 100 100 1226  138       0     0     0>
            , <&key_physical_attrs 100 100 1334  156       0     0     0>
            , <&key_physical_attrs 100 100 1442  174       0     0     0>
            , <&key_physical_attrs 100 100 1550  194       0     0     0>

            , <&key_physical_attrs 100 100   10  322       0     0     0>
            , <&key_physical_attrs 100 100  118  302       0     0     0>
            , <&key_physical_attrs 100 100  226  284       0     0     0>
            , <&key_physical_attrs 100 100  334  266       0     0     0>
            , <&key_physical_attrs 100 100  442  280       0     0     0>
            , <&key_physical_attrs 100 100  550  302       0     0     0>
            , <&key_physical_attrs 100 100  660  356       0     0     0>
            , <&key_physical_attrs 100 100  900  356       0     0     0>
            , <&key_physical_attrs 100 100 1010  302       0     0     0>
            , <&key_physical_attrs 100 100 1118  280       0     0     0>
            , <&key_physical_attrs 100 100 1226  266       0     0     0>
            , <&key_physical_attrs 100 100 1334  284       0     0     0>
            , <&key_physical_attrs 100 100 1442  302       0     0     0>
            , <&key_physical_attrs 100 100 1550  322       0     0     0>

            , <&key_physical_attrs 100 100    6  500       0     0     0>
            , <&key_physical_attrs 100 100  118  476       0     0     0>
            , <&key_physical_attrs 100 100  226  456       0     0     0>
            , <&key_physical_attrs 100 100  410  456       0     0     0>
            , <&key_physical_attrs 100 100  502  500       0     0     0>
            , <&key_physical_attrs 100 100  570  572       0     0     0>
            , <&key_physical_attrs 100 100  652  616       0     0     0>
            , <&key_physical_attrs 100 100  860  616       0     0     0>
            , <&key_physical_attrs 100 100  940  572       0     0     0>
            , <&key_physical_attrs 100 100 1010  500       0     0     0>
            , <&key_physical_attrs 100 100 1102  456       0     0     0>
            , <&key_physical_attrs 100 100 1290  456       0     0     0>
            , <&key_physical_attrs 100 100 1398  476       0     0     0>
            , <&key_physical_attrs 100 100 1506  500       0     0     0>
        ;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";

        diode-direction = "col2row";
        row-gpios
            = <&pro_micro 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&pro_micro 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
        
    };

    left_encoder: encoder_left {
            compatible = "alps,ec11";
            label = "LEFT_ENCODER";
            a-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            b-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            resolution = <4>;
            status = "disabled";
        };

    right_encoder: encoder_right {
            compatible = "alps,ec11";
            label = "RIGHT_ENCODER";
            a-gpios = <&pro_micro 21 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            b-gpios = <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
            resolution = <4>;
            status = "disabled";
        };

    sensors {
            compatible = "zmk,keymap-sensors";
            sensors = <&left_encoder &right_encoder>;
        };
    
};